.ptn-dots {
  background-image: radial-gradient(rgba(255,255,255,.3) 15%, transparent 15%),
    radial-gradient(rgba(255,255,255,.3) 15%, transparent 15%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.ptn-stripes-d {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.ptn-stripes-h {
  background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
}

.ptn-stripes-v {
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
}

.ptn-waves {
  background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
  background-size: 75px 100px;
}

.ptn-zigzag {
  background:
  linear-gradient(135deg, rgba(255,255,255,.3) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, rgba(255,255,255,.3) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, rgba(255,255,255,.3) 25%, transparent 25%),
  linear-gradient(45deg, rgba(255,255,255,.3) 25%, transparent 25%);
  background-size: 100px 100px;
}

.bg-blue {
  background-color: #5B82DD;
}

.bg-red {
  background-color: #FF5757;
}

.bg-yellow {
  background-color: #FFC757;
}

.modal-dialog {
  width: 360px;
 }

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.modal-prepend {
  width: 150px;
  text-align: right;
}
